<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{:adminTitle(CONTROLLER_NAME.'/'.ACTION_NAME)}</title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.2.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/Admin/editor/themes/default/default.css" />
		<script charset="utf-8" src="__PUBLIC__/Admin/editor/kindeditor-min.js"></script>
		<script charset="utf-8" src="__PUBLIC__/Admin/editor/lang/zh_CN.js"></script>
	</head>
	<body>
		{:W('Common/top')}
		{:W('Common/left')}
		<div class="right">
			<div class="right_container">
				<h1>添加站内信</h1>
				<div class="right_container_form">
					<form action="" method="post">
						<input type="hidden" name="form_submit" value="ok" />
						<ul>
							
							
							<li>
								<label>接受者：</label>
								<select name="id">
									<option value="0" >全部</option>
									<foreach name="list" item="value">
									<option value="{$value.id}" >{$value.address}{$value.id}--{$value.store_name}</option>
									</foreach>
								</select>
								<div class="clear"></div>
							</li>
							
							<li>
								<label>内容：</label>
								{:createEditor('content')}}
								<div class="clear"></div>
							</li>
							<li>
								<label></label>
								<input type="submit" value="提交" />
								<div class="clear"></div>
							</li>
						
							
						</ul>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
			// 	$("select").change(function(
			// 	){
					
			// 		var a =$(this).val();
			// 		alert(a);
			// 	});
			// 	function aa(){
					
				
			// 	var ajax = new XMLHttpRequest();
   //  			ajax.open('POST',"{:U('message/add')}",true);
   //  			ajax.setRequestHeader('Content-type','application/x-www-form-urlencoded'); 
			// 	ajax.send(a='+a');
			// }
				</script>
</html>