<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{:adminTitle(CONTROLLER_NAME.'/'.ACTION_NAME)}</title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
	</head>
	<body>
		{:W('Common/top')}
		{:W('Common/left')}
		<div class="right">
			<div class="right_container">
				<h1>修改密码</h1>
				<div class="right_container_form">
					<form action="{:U('password_save')}" method="post">
						<ul>
							<li>
								<label>账号：</label>
								<input type="text" name="username" value="{$find.username}" readonly="readonly" />
								<div class="clear"></div>
							</li>
							<li>
								<label>密码：</label>
								<input type="text" name="password" placeholder="请输入密码" />
								<div class="clear"></div>
							</li>
							<li>
								<label>确认密码：</label>
								<input type="text" name="confirm_password" placeholder="请输入确认密码" />
								<div class="clear"></div>
							</li>
							<li>
								<label></label>
								<input type="submit" value="提交" />
								<div class="clear"></div>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>