<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{:adminTitle(CONTROLLER_NAME.'/'.ACTION_NAME)}</title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript">
		$(function(){
			$('input[name="begin_time"]').datetimepicker({
				language : 'zh-CN',
				autoclose : true,
				minuteStep : 1
			});
			$('input[name="end_time"]').datetimepicker({
				language : 'zh-CN',
				autoclose : true,
				minuteStep : 1
			});
			$('.submit').bind('click',function(){
				$('form').submit();
			});
		});
		</script>
	</head>
	<body>
		{:W('Common/top')}
		{:W('Common/left')}
		<div class="right">
			<div class="right_container">
				<h1>评价</h1>
				<div class="right_container_action">
					<ul>
						<form action="" method="get">
							<li>
								<select name="level" class="select">
									<option value="0">星级</option>
									<option value="1" <if condition="$_REQUEST['level'] == 1">selected</if> >1 星</option>
									<option value="2" <if condition="$_REQUEST['level'] == 2">selected</if> >2 星</option>
									<option value="3" <if condition="$_REQUEST['level'] == 3">selected</if> >3 星</option>
									<option value="4" <if condition="$_REQUEST['level'] == 4">selected</if> >4 星</option>
									<option value="5" <if condition="$_REQUEST['level'] == 5">selected</if> >5 星</option>
								</select>
							</li>
							<li><input type="text" class="input" name="begin_time" value="{$Think.get.begin_time}" placeholder="请选择开始时间" /></li>
							<li><input type="text" class="input" name="end_time" value="{$Think.get.end_time}" placeholder="请选择结束时间" /></li>
							<li><a href="javascript:;" class="submit">搜索</a></li>
							<div class="clear"></div>
						</form>
					</ul>
				</div>
				<div class="right_container_list">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>ID</th>
							<th>时间</th>
							<th>星级</th>
							<th>用户</th>
							<th style="width:200px;">操作</th>
						</tr>
						<foreach name="list" item="value">
						<tr>
							<td>{$value.id}</td>
							<td>{$value.add_time|date="Y-m-d H:i:s",###}</td>
							<td>{$value.lv}</td>
							<td>{$value.nickname}</td>
							<td><a href="{:U('peisong_msg_content',array('peisong_id' => $_REQUEST['id'],'id' => $value['id']))}">详情</a></td>
						</tr>
						</foreach>
					</table>
				</div>
				<div class="right_container_page">
					<ul>{$page}</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</body>
</html>