<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{:adminTitle(CONTROLLER_NAME.'/'.ACTION_NAME)}</title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/login.js"></script>
	</head>
	<body>
		{:W('Common/top')}
		{:W('Common/left')}
		<div class="right">
			<div class="right_container">
				<h1>{$school.name} - 修改收货地址</h1>
				<div class="right_container_form">
					<form action="" method="post">
						<input type="hidden" name="form_submit" value="ok" />
						<input type="hidden" name="school_id" value="{$Think.get.school_id}" />
						<input type="hidden" name="id" value="{$row.id}" />
						<ul>
							<li>
								<label>名称：</label>
								<input type="text" name="name" value="{$row.name}" placeholder="请填写名称" />
								<div class="clear"></div>
							</li>
							<li>
								<label>排序：</label>
								<input type="text" name="sort" value="{$row.sort}" placeholder="请填写排序" />
								<div class="clear"></div>
							</li>
							<li>
								<label></label>
								<input type="submit" value="提交" />
								<div class="clear"></div>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>