<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{:adminTitle(CONTROLLER_NAME.'/'.ACTION_NAME)}</title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/login.js"></script>
	</head>
	<body>
		{:W('Common/top')}
		{:W('Common/left')}
		<div class="right">
			<div class="right_container">
				<h1>{$store.store_name} - 分类管理</h1>
				<div class="right_container_action">
					<ul>
						<li><a href="{:U('supermarket_commodity_category',array('store_id' => $_REQUEST['store_id']))}">添加</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right_container_list">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>ID</th>
							<th>分类名称</th>
							<th>排序</th>
							<th style="width:200px;">操作</th>
						</tr>
						<foreach name="list" item="value">
						<tr>
							<td>{$value.id}</td>
							<td>{$value.name}</td>
							<td>{$value.sort}</td>
							<td><a href="{:U('supermarket_commodity_goods',array('store_id' => $value['store_id'],'category_id' => $value['id']))}">商品管理</a>&nbsp;|&nbsp;<a href="{:U('supermarket_commodity_category_edit',array('store_id' => $value['store_id'],'category_id' => $value['id']))}">修改</a>&nbsp;|&nbsp;<a href="{:U('supermarket_commodity_category_delete',array('store_id' => $value['store_id'],'category_id' => $value['id']))}">删除</a></td>
						</tr>
						</foreach>
					</table>
				</div>
				<div class="right_container_page">
					<ul>{$page}</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</body>
</html>