<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{:adminTitle(CONTROLLER_NAME.'/'.ACTION_NAME)}</title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/login.js"></script>
		
	</head>
	<body>
		{:W('Common/top')}
		{:W('Common/left')}
		<div class="right">
			<div class="right_container">
				<h1>浏览关键字</h1>
				<div class="right_container_action">
					<ul>
						<li><a href="{:U('add')}">添加</a></li>
						<div class="clear"></div>
					</ul>
				</div>
					<div class="right_container_list">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>ID</th>
							<th>关键字</th>
							<th style="width:200px;">操作</th>
						</tr>
						<foreach name="list" item="val">
						<tr>
							<td>{$val.id}</td>                
							<td>{$val.word}</td>                
							<td><a href="{:U('del',array('id' => $val['id']))}">删除</a></td>
						</tr>
						</foreach>
					</table>
				</div>
				<div class="right_container_page">
					<ul>{$pageButton}</ul>
					<div class="clear"></div>
				</div>
				<script>
					$('.right_container_page ul a').unwrap('div').wrap('<li class="click"></li>');
					$('.right_container_page ul span').wrap('<li class="focus"></li>').wrap('<a class="num"></a>');
				</script>
				
	</body>
</html>