<div class="left">
	<ul>
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="System">系统设置</a>
			<div class="menu">
				<a href="{:U('System/setting')}" action="setting">全局设置</a>
				<a href="{:U('System/peisong_version')}" action="peisong_version">配送端版本</a>
				<a href="{:U('System/xiyitype')}" action="xiyitype">洗衣类型</a>
				<a href="{:U('System/school')}" action="school">学校管理</a>
				<a href="{:U('System/longyuan')}" action="longyuan">龙源统计</a>
				<a href="{:U('System/banner')}" action="banner">广告管理</a>
				<a href="{:U('System/user')}" action="user">用户管理</a>
				<a href="{:U('System/tousu')}" action="tousu">投诉管理</a>
				<!-- <a href="{:U('System/order')}" action="order">订单管理</a> -->
				<!-- <a href="{:U('System/peisong')}" action="peisong">配送管理</a> -->
				<!-- <a href="{:U('System/map')}" action="map">地图管理</a> -->
				<a href="{:U('System/activity')}" action="activity">优惠活动</a>
				<a href="{:U('System/store_eval')}" action="store_eval">店铺评论</a>
			</div>
		</li>
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Tixian">提现管理</a>
			<div class="menu">
				<a href="{:U('Tixian/store_tixian')}" action="store_tixian">商户提现</a>
				<a href="{:U('Tixian/user_tixian')}" action="user_tixian">用户提现</a>
				<a href="{:U('Tixian/user_tixian_old')}" action="user_tixian_old">用户提现（旧）</a>
				<a href="{:U('Tixian/peisong_tixian')}" action="peisong_tixian">配送提现</a>
			</div>
		</li>
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Store">商家管理</a>
			<div class="menu">
				<a href="{:U('Store/category')}" action="category">分类管理</a>
				<a href="{:U('Store/user')}" action="user">会员管理</a>
				<a href="{:U('Store/supermarket')}" action="supermarket">商超管理</a>
				<!--<a href="{:U('Store/food')}" action="food">餐饮管理</a>-->
				<a href="{:U('Store/xiyi')}" action="xiyi">洗衣管理</a>
				<a href="{:U('Store/kuaidi')}" action="kuaidi">代取快递</a>
			</div>
		</li>
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Notice">公告管理</a>
			<div class="menu">
				<a href="{:U('Notice/platforms')}" action="platforms">平台公告</a>
				<a href="{:U('Notice/business')}" action="business">商家公告</a>
			</div>
		</li>
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Advert">广告管理</a>
			<div class="menu">
				<a href="{:U('Advert/index')}" action="index">广告管理</a>
				
			</div>
		</li><!--
<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Role">权限管理</a>
			<div class="menu">
				<a href="{:U('Role/rolelist')}" action="role">角色管理</a>
				<a href="{:U('Role/userlist')}" action="index">人员管理</a>

				<a href="{:U('Role/menulist')}" action="menu">菜单管理</a>

				
			</div>
		</li>

		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Message">站内信管理</a>
			<div class="menu">
				<a href="{:U('Message/index')}" action="">发布站内信</a>
				
			</div>
		</li>
		
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Complain">投诉管理</a>
			<div class="menu">
				<a href="{:U('Complain/index')}" action="">查看投诉</a>
				
			</div>
			<div class="menu">
				<a href="{:U('Complain/ocprotol')}" action="">协议管理</a>
				
			</div>
		</li>-->
		<!--
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Count">数据统计</a>
			<div class="menu">
				<a href="{:U('Count/count_order')}" action="count_order">订单统计</a>
				<a href="{:U('Count/count_goods')}" action="goods">商品统计</a>
				
			</div>
		</li>-->
		<!--
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="About">关于我们</a>
			<div class="menu">
				<a href="{:U('About/about_index')}" action="">关于我们</a>
				
			</div>
		</li>-->
		<!--
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Liuyan">留言管理</a>
			<div class="menu">
				<a href="{:U('Liuyan/message')}" action="">查看商家留言</a>
				
			</div>
		</li>
		<li>
			<i class="icon"><img src="__PUBLIC__/Admin/images/icon1.png" /></i>
			<div class="close_arrow"></div>
			<a href="javascript:;" class="item" controller="Keyword">关键字管理</a>
			<div class="menu">
				<a href="{:U('Keyword/index')}" action="">查看商家留言</a>
				
			</div>
		</li>-->
	</ul>
</div>